

body{
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    display: block;
}

header{
    height: 90px;
    top:0;
    right:0;
    left: 0;
    background: white;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.27);
    z-index: 99;
    display: block;
}

.header_cls{
    position: relative;
    width: 100%;
}


.header_cls_con{
    display: block;
    position: relative;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}


.header_cls_con a:hover {
    color: #30A4D9;
}

.logo {
    z-index: 200;
    height: 100%;
    position: relative;
    display: inline-block;
    bottom: -15px;     
}

nav {
    position: relative;
    display: inline-block;

}

.nav_cls {

    list-style-type: none;
    margin: 0;
    padding-left:180px;
    padding-right:45px;
    padding-top:1px;
    background-color: white;
    display: inline-block;
}

.nav_cls:after {
    content: "";
    display: block;
    color: black;
    clear: both;
}


.nav_cls_external > ul {
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    overflow: hidden;
    display: none;
    position: absolute;
    width: 250px;
    height: 250px;

}

li a {
  color: #333;
}

.nav_cls> .nav_cls_external  {
    float: left;

}

.nav_cls li:hover > .nav_cls_internal {
    display: block;
}

.nav_cls_external > .nav_cls_internal > li {
    float: none;

}

.nav_cls> li > a {
    text-decoration: none;
    color: #585951;
    display:block;
    outline:0;
    padding: 0 0 0 10px;
    
}

.login_cls {
    position: absolute;
    display:inline-block;
    color:#585951;
    top: 0;
    right:0;
    padding-right: 32px;
}

.login_cls >li {
    display:inline;
}

.login_cls >li>a{
    color:#585951;
    text-decoration: none;
}

.search{
    font-size: 14px;
    display: inline-block;
    margin-right: 0px;
    margin-left:0px;
    padding-left: 0px;
    float: right;
}

.search input {
    border: 1px solid rgb(210, 210, 210);
    background-color:  #ffffff;
    box-shadow: 0px 1px 1px 0px rgba(231, 231, 231, 0.75);
    border-radius: 6px;   
    padding: 0px;
    width: 146px;
    height: 20px;
    outline-style: none;
    display: inline-block;
}

.search button {
    border: none;
    display:inline-block;
    right:35px;
    background: none;
    position:relative;

}

.search button img {
    width:13px;
    height:13px;
}


.carousel_cls{
    background-image: url("../img/slide-bg-complexity.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-position: center 90px;*/
    height: 650px;
    display:block;
    padding-top:78px;
    padding-bottom: 0;
    color:white;
    z-index: 50;
    position: relative;
}


.carousel_cls_con{
    max-width: 960px;
    margin-top:78px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    z-index: 50;
    position: relative;
}

.carousel_cls_con > h1{
    font-weight: 400;
    font-size: 42px; 
    line-height: 44px; 
    text-align: left;
    width:555px;

}
.carousel_cls_con_up_in{
    font-weight: 400;
    font-size: 22px; 
    /*line-height: 44px; */
    text-align: left;
    /*width:415px;*/
}
.carousel_cls_internal ul{
    padding-left: 0;
    padding-top: 30px;
}


.more_btn{
    text-decoration:none;
    background-color:  #3399cc;
    box-shadow: 0px 1px 2px 0px rgba(62, 157, 194, 0.75);
    border-radius: 6px;
    color: white;
    padding: 4px 5px 5px 7px;
    font-size:14px;
}

.more_btn:after{
    content: url("../img/btnArrow.png");
    padding-left: 25px;

}

.more_btn:hover{
  background :#2291C7;
}

.more_btn img{
    padding-left:30px;
    padding-right: 0px;
    height:9px;
    width:9px;

}

.etc_cls{
    list-style-type: none;
}
.etc_cls a{
    display: none;
    text-decoration: none;
}
.first{
    background: #2D95C9;
    font: 1em/11px Arial;
    text-align: center;
    float: left;
    margin-left: 7px;
    width: 11px;
    height: 11px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color:#2D95C9;
    
}

.second ,
.third ,
.forth{
    background: #e5e5e5;
    color: #e5e5e5;
    font: 1em/11px Arial;
    text-align: center;
    float: left;
    margin-left: 7px;
    width: 11px;
    height: 11px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px

}


.second:hover,
.third:hover ,
.forth:hover{
    background: #2D95C9;

}

.boxes_cls{
    width:286px;
    height:174px;
    color:white;
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
    position: relative;

}



.boxes_cls h2{
    cursor:pointer;
    font-size: 24px;
    line-height: 30px; 
    text-align: left;
    margin:5px;
    padding-bottom:25px;
    font-weight: 300;
}


.boxes_cls a{
    text-decoration:none;
    color:white;
    font-size:15px;
    font-weight:bold;
}


.orange_box{
    background-color: #FF8A3C;
    list-style: none;
    opacity: 0.7;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    cursor:pointer;
}

.pink_box{
    background-color: #f24f9e;
    list-style: none;
    opacity: 0.7;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    cursor:pointer;
}


.green_box{
    background-color: #66CC33;
    list-style: none;
    opacity: 0.7;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    cursor:pointer;
}



.boxes_cls:hover{
    opacity: 1;
}

.boxes_cls a:hover{
    color: #30A4D9;
}




.offerings_cls{
    background: url("../img/weDoBG.jpg") no-repeat center center;
    z-index: 25;
    padding-bottom: 58px;
    position: relative;
}





.what_can_we_do {
    font-weight: normal;
    font-style: normal;
    color: white;
    display: block;
    max-width: 960px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    z-index: 25;
    position: relative;



}

.what_can_we_do h3{
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 300;
    margin-top: 0;
    line-height: 40px;
    position: relative;
}

.what_can_we_do ul{
    padding-left: 0px;
    list-style: none;
    display: block;

}


.icons li{
    text-align: center;
    vertical-align: top; 
    display: inline-block;
    font-size: 14px;
    padding-right: 0px;
    max-width: 155px;
}
.icons_cls .business_stimu::before{
      content: url("../img/solution_icon_biz-analitics.png");
}

.icons_cls .business_stimu:hover::before{
      content: url("../img/solution_icon_biz-analitics_hover.png");
}


.icons_cls .digital::before{
      content: url("../img/solution_icon_diti-cx.png");
}

.icons_cls .digital:hover::before{
      content: url("../img/solution_icon_diti-cx_hover.png");
}

.icons_cls .smart_mone::before{
      content: url("../img/solution_icon_smart-money.png");
}

.icons_cls .smart_mone:hover::before{
      content: url("../img/solution_icon_smart-money_hover.png");
}

.icons_cls .optimization::before{
      content: url("../img/solution_icon_optimize-efficnt.png");
}

.icons_cls .optimization:hover::before{
      content: url("../img/solution_icon_optimize-efficnt_hover.png");
}

.icons_cls .personalized::before{
      content: url("../img/solution_icon_personal.png");
}

.icons_cls .personalized:hover::before{
      content: url("../img/solution_icon_personal_hover.png");
}

.icons_cls .business_trans::before{
      content: url("../img/solution_icon_biz-transform.png");
}

.icons_cls .business_trans:hover::before{
      content: url("../img/solution_icon_biz-transform_hover.png");
}


.what_can_we_do a.more_btn{
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.see_solutions_btn{
    width: 188px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
  }


  .happenings_cls{
    background-image: url("../img/news-and-events-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center ;
    background-position-y:center;
    height: 454px;
    z-index:15;
    display:block;
    padding:2px;
    position: relative;

}

.happenings_cls_internal{
    max-width:960px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: white;
    position: relative;

    
}

.happenings_cls_internal h4{
    color:white;
    font-size: 42px; 
    font-weight: 300;
    line-height: 28px; 
    text-align: center;
    padding-top: 10px;

}



.happenings_cls_internal a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    position: relative;
    left: 5px;
}




.happenings_cls_internal ul{
    position: relative;
    display: block;
    list-style-type: none;
    -webkit-padding-start: 0px;
}

.happenings_cls_internal li{
    display: inline-block;
    margin-right: 10px;
    font-size: 34px;
    font-weight: 300;
    line-height: 28px; 
    text-align: left;
}
.news_cls div>p,.events_cls div>p,.press_cls div>p{
    text-align: left;
    border-radius: 2px;
    background-color:  rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 4px 0px #a2a2a2;
    width: 296px;
    height: 119px;
    margin-right: 10px;
    padding-top: 10px;
    font-family: Arial;
    color:  #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    cursor:pointer;

}

.press_cls div>p:hover,.news_cls div>p:hover,.events_cls div>p:hover{
        background-color:  rgba(255, 255, 255, 0.8);
}


time{
    display: inline-block;
    border-radius: 2px;
    background-color:  #3399cc;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
    width: 69px;
    height: 99px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float:left;

}

.day_cls{
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 7px;
    padding-bottom: 25px;
    color:white;
    text-align: center;
    display: block;
    border-bottom: dotted;
    border-bottom-width: 1px;
    font-size: 48px; 
    font-weight: 400;
    width: 60px;
}

.month_cls{



    color:white;
    text-align: center;
    display: block;


    font-size: 25px; 
    font-weight: 400;

}


.happenings_cls_internal  a:hover{
    color: black;
}

.happenings_cls_internal .news_cls a:before{
    content: url("../img/eventListIconNews.png");
    position: relative;
    right: 5px;

}



.happenings_cls_internal .news_cls a:hover:before{
      content: url("../img/eventListIconNews_hover.png");

}

.happenings_cls_internal .press_cls a:before{
    content: url("../img/eventListIconPress.png");
    position: relative;
    right: 5px;
}

.happenings_cls_internal .press_cls a:hover:before{
      content: url("../img/eventListIconPress_hover.png");
}

.happenings_cls_internal .events_cls a:before{
    content: url("../img/eventListIconEvents.png");
    position: relative;
    right: 5px;
}

.happenings_cls_internal .events_cls a:hover:before{
      content: url("../img/eventListIconEvents_hover.png");
}



